@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewData["Title"] = "About";
}

<div id="about">
    <h1>Introduction</h1>
    <p>
        Hello ! I am <strong>Dania Afridi</strong>.I am a <strong>FullStack Developer</strong>
        which is my great interest and passion. I like solve different problems and it makes
        me happy.I belive on quality instead quantity. During my journey towards this profession
        I learnt alot of skills like git, C#, node js, Testing. I learnt how to produce quality
        work, manage time. I became flexible for working with groups and alone.
    </p>
    <p>
        Every Day is new and there must be something new to learn. Time flies and life goes on but
        process of learning could not be stopped. Be passionate if you want to be successful in life.
    </p>
    <p>
        If you want to learn more about my work You can go to my <strong>GitProject</strong> page
        where i have provided github links of small project made by me using different programing
        languages.
    </p>
</div>