@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My WebPage </h1>
    <p>
        This Site Contains Information about myself. This is my First website which I created using <strong>CSharp</strong>.
        It is really a fun to work with Websites using <strong>CSharp MVC templete</strong>.
    </p>
    <p>
        You can know more about me from the <strong>About</strong> section.
    </p>
</div>


