@{
    ViewData["Title"] = "Projects";
}

<div>
    <h1>List Of Projects</h1>
    <ul>
        <li>
            <h5><a href="https://github.com/dania-afridi/simpleCalculator-week17/tree/main/simple-calculator">Calculator</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/LexiconAssignment-week19/tree/main/HangMan">Hang Man</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/Team4-VendingMachine/VendingMachine-withXUnitTest">Vending Machine</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/passenger-counter">Passenger Counter</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/travel-jornel">Travel Journal</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/memeGenerator">Memes Generator</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/tenzies-game">Tenzies Game</a></h5>
        </li>
        <li>
            <h5><a href="https://github.com/dania-afridi/dice-game">Dice Game</a></h5>
        </li>
    </ul>
</div>